{% extends "base.html.j2" %}
{% block content %}
    <h1>Upload a new file</h1>
    <form action='{{ url_for("submit_file") }}'
          method="POST"
          enctype="multipart/form-data">
        {% for field in form %}
            <p>
                {% if field.name != "csrf_token" %}{{ field.label() }}{% endif %}
                {{ field() }}
            </p>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
